<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome, {{user}}!</h1>
    <p>Here is a funny picture of a cat:</p>
    <img src="https://placekitten.com/400/300" alt="Funny Cat">
    <br>
    <a href="/">Home</a>
</body>
</html>
