<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Page</title>
</head>
<body>
    <h1>This is a private page</h1>
    <p>Here is my favorite gif:</p>
    <img src="https://media.giphy.com/media/3o7aD2saalBwwftBIY/giphy.gif" alt="Favorite GIF">
    <br>
    <a href="/">Home</a>
</body>
</html>
